<style type="text/css">div.mydiv {}

body {
  background-image: url('../static/red_and_black.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  color: #ededed !important;
}

option {
  color: black;
}

select {
  color: black;
}

th {
  background-color: #000000;
  color: white;
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: #313131;
}

tr:nth-child(odd) {
  background-color: #515151;
}

tr:hover {
  background-color: #808080;
}

tr {
  font-family: monospace;
}

div.navbar-header {
  background-color: #095da5;
}

a.navbar-brand {
  color: #ffffff !important;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-align-content: center;
  align-content: center;
}

</style>
